body {
    box-sizing: border-box;
    font-family: verdana, helvetica, sans-serif;
    background-color: rgb(250, 226, 195);
}

.container {
    margin: 40px
    
}

img {
    margin: 100px 5px;
    border: 1px solid maroon;
    display: inline-block;
}

.header h1 {
    margin: 0px auto 0px;
    padding: 20px 0px 0px 345px;
    background-color: coral;
}

.link-home a {
    color: purple;
    padding-left: 740px;
}

.description h3,
.ingredients h3,
.ingredients h5,
.steps h3 {
    margin-left:345px;
}

.description p,
.ingredients ul,
.steps p {
    margin: 10px;
    padding: 40px;
}
