body {
    font-family: Verdana, Helvetica, "sans-serif";
    background-color: #ede8d0;
    box-sizing: border-box;
}

.website-content {
    border: 2px ridge rgb(206, 170, 139);
    background-color: white;
    margin: 20px auto;

}

.header h1 {
    text-align: center;
    font-size: x-large;
}

.recipe-one {
    background-color: rgb(219, 216, 216);
    margin: 20px 0px;
    padding: 80px 0px 0px;
}

.recipe-one a {
    color: black;
    font-size: 15px;
}

.recipe-two {
    background-color: rgb(216, 187, 187);
    margin: 20px 0px;
    padding: 80px 0px 0px;
}

.recipe-two a {
    color: black;
    font-size: 15px;
}

.recipe-three {
    background-color: rgb(240, 179, 179);
    margin: 20 0px;
    padding: 80px 0px 0px;
}

.recipe-three a {
    color: black;
    font-size: 15px;
}